<html>
  <head>
    <style>
     body {
       background: black;
       color: white;
       font-weight: bold;
       margin: 0;
     }
    </style>
  </head>
  <body>
    <div style="text-align: center;position: absolute;width:100%;top:50%;">
      {{ message | trans }}
    </div>
  </body>
</html>
