{% extends 'PumukitPaellaPlayerBundle:PaellaPlayer:index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% if custom_css_url is defined and custom_css_url %}
        <link rel="stylesheet" href="{{ custom_css_url }}" type="text/css" media="screen" charset="utf-8">
    {% endif %}

    <style>
        #playerContainer_videoContainer {
            background-color: #222;
            background-image: linear-gradient(to bottom, #333333, #111111);
        }

        #playerContainer {
            display:block;
            width:100%;
        }

        #playerContainer_videoContainer_bkg {
            display: none;
        }

        {% if logo is defined and logo %}
        #paella_logo\.png {
            content: url("{{ logo }}");
        }
        {% else %}
        #paella_logo\.png {
            display: none !important;
        }
        {% endif %}

        {% if intro %}
        #introContainer {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
            z-index: 88888;
        }

        #intro {
            width: 100%;
            height: 100%;
        }

        #skipContainer{
            position: absolute;
            bottom: 3em;
            cursor: pointer;
            max-width: 300px;
            right: 1em;
            background: rgba(80, 80, 80, 0.8);
            font-weight: bold;
            color: #fafafa;
            padding: .65em;
            font-size: 1.2em;
            z-index: 99999;
        }

        #overlay {
            position: absolute;
            opacity: 0.7;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 99998;
            cursor: pointer;
        }

        .playButtonOnScreenIcon {
            height: 100%;
        }
        {% endif %}

        {% if not multimediaObject.getProperty('opencast') %}
        .buttonPlugin.searchButton{
            display:none !important;
        }

        .buttonPlugin.footPrints{
            display:none !important;
        }
        {% endif %}
    </style>
{% endblock %}

{% block body_base %}
    <div id="playerContainer"></div>
    {% include "PumukitPaellaPlayerBundle:PaellaPlayer:js.html.twig" %}
{% endblock %}

