{% extends '@PumukitPaellaPlayer/PaellaPlayer/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% if custom_css_url is defined and custom_css_url %}
        <link rel="stylesheet" href="{{ custom_css_url }}" type="text/css" media="screen">
    {% endif %}
{% endblock %}

{% block body_base %}

    <div id="player-container"></div>

    <script>
        {% include('@PumukitPaellaPlayer/PaellaPlayer/multistream.js.twig') %}
    </script>
{% endblock %}
